h5{
   font-family: Verdana;
   border-left: 12px solid rgb(52, 151, 158);
   text-align: center;
   font-size: medium;
    animation-duration: 2s;
    animation-name: slidein;
  }
  
@keyframes slidein {
    from {
      margin-left: 120%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

p{
    font-family: Verdana;
    text-align: center;
    
}

li{
    font-family: Verdana;
}

.card{
border: 2px solid rgb(163, 163, 163);
padding: 15px;
margin: 80px;
width: 100px;
}
